

<div class="modal-header">
	<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{options.titleAct}}</h4>
</div>
<div class="modal-body">
	<label>Nombre del Titulo:</label>
	<input type="text" class="form-control" id="NombreAct" placeholder="Nombre del titulo" ng-model="nombre" autofocus><br>
	<label>Articulo:</label>
	<input type="text" class="form-control" id="DescripcionAct" placeholder="Articulo" ng-model="articulo"><br>
	<label>Capitulo:</label>
	<input type="text" class="form-control" id="LugarAct" placeholder="Capitulo" ng-model="capitulo"><br>
	<label>Pregunta:</label>
	<input type="text" class="form-control" id="LugarAct" placeholder=" Pregunta" ng-model="pregunta"><br>


	<input type="hidden" name="lat"  ng-model="LatActividad">
	<input type="hidden" name="lng"  ng-model="LngActividad">
</div>


<div class="modal-footer">
	<button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">{{options.boton}}</button>
	<button type="button" ng-click="cancel()" class="btn btn-warning">Cancelar</button>
</div>
