<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/cultura/principal">TransXela Cultura</a>
    </div>
    <ul class="nav navbar-right top-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{usuario.nombre + " " + usuario.apellidos}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="#/cultura/perfil"><i class="fa fa-fw fa-user"></i> Perfil</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href ng-click = "cerrar()"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <a href="#/cultura/principal"><i class="fa fa-home fa-fw"></i>Home Cultura</a>
        </li>
        <li>
          <a href="#/cultura/principalcultura"><i class="fa fa-pencil fa-fw"></i>Actividades Culturales</a>
        </li>
        <li>
          <a href="#/cultura/principalconsejo"><i class="fa fa-clock-o fa-fw"></i> Consejo Del Dia</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Consejo Del Dia</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#/cultura/principal">Principal</a></li>
          <li class="breadcrumb-item active">Consejo Del  Dia</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <button class="btn btn-success" href ng-click="CrearNuevoConsejo()">Crear Una Nuevo Consejo</button>
          </div>
          <div class="panel-body">
            <div ng-repeat = "alerta in alertas" class="alert alert-{{alerta.tipo}} alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"
              ng-click="alertas.splice(alertas.indexOf(alerta),1)"><span aria-hidden="true">&times;</span></button>{{alerta.mensaje}}
            </div>
            <label>Seleccione un consejo:</label>
            <select class="form-control" ng-model="Selected" ng-options="item.consejo for item in names" ng-selected="idconsejo(Selected.idconsejo)" ng-click="cambio(Selected.idconsejo)"></select>
            <p>
              item seleccionado: {{Selected.idconsejo}}
            </p>
            <br>
            <label>Asignar Fechas Para Consejo:</label>
            <br>
            <button class="btn btn-success" href ng-click="asignarfecha()">Asignar fechas de consejo</button>
            <br>
            <div id="grid1" ui-grid="gridOptions" class="grid"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
