
  <div class="main-head" id="centerhead">
  	<img src="images/yeoman.png">

  	<ol class="breadcrumb">
  		<li class="breadcrumb-item"><a href="#/duenio/principal">Principal</a></li>
  		<li class="breadcrumb-item active">...</li>
  	</ol>
  </div>
  <br>
<div  id="centerbody">
  <div id="navegador" ng-app="app" ng-controller="PopupDemoCont">
    <ul>
      <li>
        <a ng-click="open()"> Nueva Actividad cultural</a></li>
      <li><a href="#">Modificar Actividad cultural</a></li>
      <li><a href="#">Eliminar Actividad Cultural</a></li>
    </ul>
    <button class="btn btn-success" ng-click="open()">ADD</button>
  </div>

</div>




<!--  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <a class="navbar-brand" href="/">Vida Sana</a>

          <ul class="nav navbar-nav">
              <li> <a href="/#/articulos">Articulos</a>
              </li>
              <li> <a href="/#/galeria">Galería</a>
              </li>
              <li> <a href="/#/miembros">Miembros</a>
              </li>

          </ul>
      </div>
  </nav>-->
<br>

  <div >
    <nav class="main-menu" >
        <ul>
            <li>
                <a href="#actculturales">
                    <i class="fa fa-pencil-square-o fa-2x"></i>
                    <span class="nav-text">
                        Actividades Culturales
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#actfaq">
                    <i class="fa fa-question-circle fa-2x"></i>
                    <span class="nav-text">
                        Actividades FAQ
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#actley">
                   <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">
                        Actividades relacionadas a leyes
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#acteducacion">
                   <i class="fa fa-male fa-2x"></i>
                    <span class="nav-text">
                        Acitividades de educacion
                    </span>
                </a>

            </li>
        </ul>
        <ul class="logout">
            <li>
               <a href="#salir">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>

  </div>
