<div id="wrapper">
  <!-- navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <!-- navbar-header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/pmt/principal">TransXela PMT</a>
        </div>
      <!-- close-navbar-header -->
      <!-- navbar-top-links -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user fa-fw"></i> {{firstName + " " + lastName}} <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/#/"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
      <!-- close-navbar-top-links -->
      <!-- navbar-static-side -->
        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li>
                <a href="#/pmt/duenios"><i class="fa fa-users fa-fw"></i> Dueños</a>
              </li>
              <li>
                <a href="#/pmt/rutas"><i class="fa fa-map-signs fa-fw"></i> Rutas</a>
              </li>
              <li>
                  <a href="javascript:void(0);"><i class="fa fa-clock-o fa-fw"></i> Horarios<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                      <li>
                          <a href="#/pmt/horariosBus">Ver por Bus</a>
                      </li>
                      <li>
                          <a href="#/pmt/horarios">Ver por Dueño</a>
                      </li>
                      <li>
                          <a href="#/pmt/horariosPiloto">Ver por Piloto</a>
                      </li>
                    </ul>
                  <!-- /.nav-second-level -->
              </li>
              <li>
                <a href="#/reporte/rutasdenunciadas"><i class="fa fa-info fa-fw"></i> Estadisticas </a>
              </li>
            </ul>
          </div>
          <!-- /.sidebar-collapse -->
        </div>
      <!-- close-navbar-static-side -->
    </nav>
  <!-- close-navigation -->
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Principal</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#/duenio/principal">Principal</a></li>
          <li class="breadcrumb-item active">...</li>
        </ol>
          <!--<div class="input-group custom-search-form">
              <input type="text" class="form-control" placeholder="Busque con el numero de placa">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
              </span>
          </div>-->
      </div>
      <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{duenio.no_Choferes}}</div>
                        </div>
                    </div>
                </div>
                <a href="#/duenio/pilotos">
                    <div class="panel-footer">
                        <span class="pull-left">Denuncias por Piloto</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-map-signs fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{duenio.no_Buses}}</div>
                        </div>
                    </div>
                </div>
                <a href="#/duenio/buses">
                    <div class="panel-footer">
                        <span class="pull-left">Denuncias por Ruta</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{duenio.no_Horarios}}</div>
                        </div>
                    </div>
                </div>
                <a href="#/duenio/horarios">
                    <div class="panel-footer">
                        <span class="pull-left">Denuncias por Categoría</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bus fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                        </div>
                    </div>
                </div>
                <a href="#/duenio/calendario">
                    <div class="panel-footer">
                        <span class="pull-left">Denuncias por Buses</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i>
            <div>
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-6 -->
  </div>
  <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
