<!DOCTYPE html>
<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top"  style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/pmt/principal">TransXela PMT</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user fa-fw"></i> {{usuario.nombre + " " + usuario.apellidos}} <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="#/pmt/perfil"><i class="fa fa-user fa-fw"></i> Perfil</a>
              </li>
              <li class="divider"></li>
              <li><a ng-click = "cerrar()"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
              </li>
          </ul>
          <!-- /.dropdown-user -->
      </li>
    </ul>
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li>
            <a href="#/operador/denuncias"><i class="fa fa-flag fa-fw"></i> Denuncias</a>
          </li>
          <li>
            <a href="#/pmt/duenios"><i class="fa fa-users fa-fw"></i> Dueños</a>
          </li>
          <li>
            <a href="#/pmt/rutas"><i class="fa fa-map-signs fa-fw"></i> Rutas</a>
          </li>
          <li>
            <a href="#/pmt/horariosBus"><i class="fa fa-clock-o  fa-fw"></i>Horarios Buses</a>
          </li>
          <li>
            <a href="#/pmt/horarios"><i class="fa fa-clock-o  fa-fw"></i>Horarios Dueños</a>
          </li>
          <li>
            <a href="#/pmt/horariosPiloto"><i class="fa fa-clock-o  fa-fw"></i>Horarios Pilotos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Rutas</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#/pmt/principal">Principal</a></li>
          <li class="breadcrumb-item active">Rutas</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="bootcards-list">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left">Informacion Rutas</h3>
              <a class="btn btn-primary pull-right" role="button" ng-click="showRutas()"> <i class="fa fa-plus"></i> Nueva Ruta</a>
            </div>
            <div>
              <form>
                <div>
                  <div ng-repeat = "alerta in alertas" class="alert alert-{{alerta.tipo}} alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    ng-click="alertas.splice(alertas.indexOf(alerta),1)"><span aria-hidden="true">&times;</span></button>{{alerta.mensaje}}
                  </div>
                  <div id="grid1" ui-grid="gridOptions" ui-grid-pagination class="grid"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Información De Rutas</h3>
            <a class="btn btn-primary pull-right" ng-click="showVerModificar(mostrar.idruta)"> <i class="fa fa-pencil"></i> Editar </a>
          </div>
          <div class="list-group">
            <div class="list-group-item">
              <h4 class="list-group-item-text">Nombre Ruta:</h4>
              <h5> <span>&#8194;{{mostrar.nombre}}</span> </h5>
            </div>
            <div class="list-group-item">
              <h4 class="list-group-item-text">Recorrido:</h4>
              <textarea style="resize:none" class="form-control" id="recorrido" name="recorrido" rows=3 disabled="true">{{mostrar.recorrido}}</textarea>
            </div>
          </div>
          <div class="panel-footer">
            <small>TransXela - PMT</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
