<div class="main-head" id="centerhead">
    <img src="images/yeoman.png">
    {{usuario.nombre + " " +usuario.apellidos}}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/duenio/principal">Principal</a></li>
      <li class="breadcrumb-item active">...</li>
    </ol>
</div>
<br>

<div id="centerbody">
	<div>
		<h3>Buses</h3>
		<button class="btn btn-success" ng-click="showCrear()">Crear bus</button>
		<button class="btn btn-success" ng-click="showVerModificar()">Modificar bus</button>
		<div class="thumbnails">
			<div ng-repeat="bus in buses">
				<a href="#/buses/{{bus.id}}">
					<img ng-src="{{bus.foto}}">
					<h4>{{bus.placa}}</h3>
				</a>
			</div>
		</div>
	</div>
</div>