<!-- /#wrapper -->
<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/duenio/principal">TransXela Dueños</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{duenio.nombre + " " + duenio.apellidos}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li>
                  <a href="#/duenio/perfil"><i class="fa fa-fw fa-user"></i> Perfil</a>
              </li>
              <li class="divider"></li>
              <li>
                  <a href ng-click = "cerrar()"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
              </li>
          </ul>
      </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li><!-- class="active" -->
          <a href="#/duenio/pilotos"><i class="fa fa-users fa-fw"></i> Pilotos</a>
        </li>
        <li>
          <a href="#/duenio/buses"><i class="fa fa-bus fa-fw"></i> Buses</a>
        </li>
        <li>
          <a href="#/duenio/horarios"><i class="fa fa-clock-o fa-fw"></i> Horarios</a>
        </li>
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-calendar fa-fw"></i> Asignaciones <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse">
            <li>
              <a href="#/duenio/calendario">Todas</a>
            </li>
            <li>
              <a href="#/duenio/calendariobus">Por bus</a>
            </li>
            <li>
              <a href="#/duenio/calendariopiloto">Por piloto</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#/duenio/estadisticas"><i class="fa fa-bar-chart fa-fw"></i> Estadísticas</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
  <!-- close-navigation -->
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Asignaciones</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#/duenio/principal">Principal</a></li>
          <li class="breadcrumb-item active">Asignaciones</li>
        </ol>
      </div>
      <!-- /.col-lg-12 -->
    </div>
      <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <button class="btn btn-primary" href ng-click="showCrear()"><i class="fa fa-plus"></i> Asignar piloto y bus</button>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div ng-repeat = "alerta in nomenclatura" class="alert alert-default alert-dismissible fade in col-md-offset-8" role="alert"style="background-color:#f8f8f8">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"
              ng-click="nomenclatura.splice(nomenclatura.indexOf(alerta),1)"><span aria-hidden="true">&times;</span></button>
              <div ng-repeat = "contenido in alerta">
                <i class="fa fa-circle" style={{contenido.style}}></i> {{contenido.mensaje}}
              </div>
            </div>
            <div ng-repeat = "alerta in alertas" class="alert alert-{{alerta.tipo}} alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"
              ng-click="alertas.splice(alertas.indexOf(alerta),1)"><span aria-hidden="true">&times;</span></button>
              <i class={{alerta.icono}}></i> {{alerta.mensaje}}
            </div>
            <h2 class="text-center">{{ calendarTitle }}</h2>
            <div class="row">
              <div class="col-md-6 text-center">
                <div class="btn-group">
                  <button
                    class="btn btn-primary"
                    mwl-date-modifier
                    date="viewDate"
                    decrement="calendarView">
                    Anterior
                  </button>
                  <button
                    class="btn btn-default"
                    mwl-date-modifier
                    date="viewDate"
                    set-to-today>
                    Hoy
                  </button>
                  <button
                    class="btn btn-primary"
                    mwl-date-modifier
                    date="viewDate"
                    increment="calendarView">
                    Siguiente
                  </button>
                </div>
              </div>
              <br class="visible-xs visible-sm">
              <div class="col-md-6 text-center">
                <div class="btn-group">
                  <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'">Año</label>
                  <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'">Mes</label>
                  <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'week'">Semana</label>
                  <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'day'">Día</label>
                </div>
              </div>
            </div>
            <mwl-calendar
              view="calendarView"
              view-date="viewDate"
              events="events"
              view-title="calendarTitle"
              day-view-start="06:00"
              day-view-end="22:00"
              on-event-click="eventClicked(calendarEvent)"
              on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
              cell-is-open="true">
            </mwl-calendar>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->
</div>
