<div class="main-head" id="centerhead">
    <img src="images/yeoman.png">
    {{usuario.nombre + " " +usuario.apellidos}}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/duenio/principal">Principal</a></li>
      <li class="breadcrumb-item active">...</li>
    </ol>
</div>
<br>
<div id="centerbody">
    <div>
        <h3>Horarios</h3>
        <button class="btn btn-success" ng-click="showCrear()">Crear horario</button>
        <button class="btn btn-success" ng-click="showVerModificar()">Modificar horario</button>
        <div class="thumbnails">
            <div ng-repeat="horario in horarios">
                <a href="#/horarios/{{horario.id}}">
                    <h3>{{horario.horainicio.getHours() + ":" + horario.horainicio.getMinutes()}}</h3>
                    <h3>{{horario.horafin.getHours() + ":" + horario.horafin.getMinutes()}}</h3>
                </a>
            </div>
        </div>
    </div>
</div>