<div class="main-head" id="centerhead">
    <img src="images/yeoman.png">
    {{usuario.nombre + " " +usuario.apellidos}}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/duenio/principal">Principal</a></li>
      <li class="breadcrumb-item active">...</li>
    </ol>
</div>
<br>
<div id="centerbody">
    <div>
        <h3>Horarios</h3>
        <button class="btn btn-success" ng-click="showCrear()">Crear horario</button>
        <div id="grid1" ui-grid="gridOptions" class="grid"></div>
    </div>
</div>