<div id="wrapper">
  <!-- navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <!-- navbar-header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/duenio/principal">TransXela Dueños</a>
        </div>
      <!-- close-navbar-header -->
      <!-- navbar-top-links -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user fa-fw"></i> {{duenio.nombre + " " + duenio.apellidos}} <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#/duenio/perfil"><i class="fa fa-user fa-fw"></i> Perfil</a>
                    </li>
                    <li class="divider"></li>
                    <li><a ng-click = "cerrar()"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
      <!-- close-navbar-top-links -->
      <!-- navbar-static-side -->
        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li>
                <a href="#/duenio/pilotos"><i class="fa fa-users fa-fw"></i> Pilotos</a>
              </li>
              <li>
                <a href="#/duenio/buses"><i class="fa fa-bus fa-fw"></i> Buses</a>
              </li>
              <li>
                <a href="#/duenio/horarios"><i class="fa fa-clock-o fa-fw"></i> Horarios</a>
              </li>
              <li>
                <a href="#/duenio/calendario"><i class="fa fa-calendar fa-fw"></i> Calendario</a>
              </li>
              <li>
                <a href="#/duenio/estadisticas"><i class="fa fa-info fa-fw"></i> Estadísticas</a>
              </li>
            </ul>
          </div>
          <!-- /.sidebar-collapse -->
        </div>
      <!-- close-navbar-static-side -->
    </nav>
  <!-- close-navigation -->
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Perfil</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#/duenio/principal">Principal</a></li>
          <li class="breadcrumb-item active">Perfil</li>
        </ol>
      </div>
      <!-- /.col-lg-12 -->
    </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <div class="col-md-6 col-xs-6">
                <h4><strong>Nombre</strong></h4>
                <h5>&#8194;{{duenio.nombre}}</h5>
              </div>
              <div class="col-md-6 col-xs-6">
                <h4><strong>Apellidos</strong></h4>
                <h5>&#8194;{{duenio.apellidos}}</h5>
              </div>
              <div class="col-md-6 col-xs-6">
                <h4><strong>DPI</strong></h4>
                <h5>&#8194;{{duenio.dpi}}</h5>
              </div>
              <div class="col-md-6 col-xs-6">
                <h4><strong>No. teléfono</strong></h4>
                <h5>&#8194;{{duenio.telefono}}</h5>
              </div>
              <div class="col-md-6">
                <h4><strong>Dirección</strong></h4>
                <h5>&#8194;{{duenio.direccion}}</h5>
              </div>
              <div class="col-md-6">
                <h4><strong>Correo electrónico</strong></h4>
                <h5>&#8194;{{duenio.correo}}</h5>
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <form name="cambioForm" class="form">
                <div ng-repeat = "alerta in alertas" class="alert alert-{{alerta.tipo}} alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                  ng-click="alertas.splice(alertas.indexOf(alerta),1)"><span aria-hidden="true">&times;</span></button>
                  <i class={{alerta.icono}}></i> {{alerta.mensaje}}
                </div>
                <h4><strong>Contraseña actual</strong></h4>
                <input class="form-control" type="password" class="form-control" name = "cAnterior" id="cAnterior" ng-model="cAnterior" placeholder="Ingrese la contraseña actual" required>
                <div ng-messages="cambioForm.cAnterior.$error" role="alert" class="text-danger">
                  <div ng-message="required">Campo requerido</div>
                </div>
                <h4><strong>Nueva contraseña</strong></h4>
                <input class="form-control" type="password" class="form-control" name = "cNueva" id="cNueva" ng-model="cNueva" placeholder="Ingrese la nueva contraseña" required>
                <div ng-messages="cambioForm.cNueva.$error" role="alert" class="text-danger">
                  <div ng-message="required">Campo requerido</div>
                </div>
                <h4><strong>Repetir contraseña</strong></h4>
                <input class="form-control" type="password" class="form-control" name = "cRepetir" id="cRepetir" ng-model="cRepetir" placeholder="Repita la nueva contraseña" required>
                <div ng-messages="cambioForm.cRepetir.$error" role="alert" class="text-danger">
                  <div ng-message="required">Campo requerido</div>
                </div><br>
                <button class="btn btn-primary " style="float:right;" type="button" ng-click="cambiarContrasenia()" ng-disabled="cambioForm.$invalid">Cambiar contraseña</button>
              </form>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </div>
        <!-- /.col-lg-8 -->
      </div>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
