<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/duenio/principal">TransXela Dueños</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{duenio.nombre + " " + duenio.apellidos}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="#/duenio/perfil"><i class="fa fa-fw fa-user"></i> Perfil</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href ng-click = "cerrar()"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li><!-- class="active" -->
          <a href="#/duenio/pilotos"><i class="fa fa-users fa-fw"></i> Pilotos</a>
        </li>
        <li>
          <a href="#/duenio/buses"><i class="fa fa-bus fa-fw"></i> Buses</a>
        </li>
        <li>
          <a href="#/duenio/horarios"><i class="fa fa-clock-o fa-fw"></i> Horarios</a>
        </li>
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-calendar fa-fw"></i> Asignaciones <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse">
            <li>
              <a href="#/duenio/calendario">Todas</a>
            </li>
            <li>
              <a href="#/duenio/calendariobus">Por bus</a>
            </li>
            <li>
              <a href="#/duenio/calendariopiloto">Por piloto</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#/duenio/estadisticas"><i class="fa fa-bar-chart fa-fw"></i> Estadísticas</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">

    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Principal
          </h1>
          <ol class="breadcrumb">
            <li><a href="#/duenio/principal">Principal</a></li>
            <li class="active">...</li>
          </ol>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">

        <div class="col-lg-6 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-users fa-4x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{duenio.no_Choferes}}</div>
                </div>
              </div>
            </div>
            <a href="#/duenio/pilotos">
              <div class="panel-body">
                <span class="pull-left">Pilotos</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
            <div class="panel-footer" style="word-wrap:break-word;">
              <p>Ingrese y edite la información de sus pilotos y mantenga un control preciso de sus colaboradores.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="panel panel-green">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-bus fa-4x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{duenio.no_Buses}}</div>
                </div>
              </div>
            </div>

            <a href="#/duenio/buses">
              <div class="panel-body">
                <span class="pull-left">Buses</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
            <div class="panel-footer" style="word-wrap:break-word;">
              <p>Registre sus unidades y mantenga al día su información para desligarse de problemas con la PMT.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="panel panel-yellow">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-clock-o fa-4x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{duenio.no_Horarios}}</div>
                </div>
              </div>
            </div>
            <a href="#/duenio/horarios">
              <div class="panel-body">
                <span class="pull-left">Horarios</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
            <div class="panel-footer" style="word-wrap:break-word;">
              <p>Cree sus horarios para poder visualizar y administrar de una mejor forma su flota de buses.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="panel panel-red">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-calendar fa-4x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"></div>
                </div>
              </div>
            </div>
            <a href="#/duenio/calendario">
              <div class="panel-body">
                <span class="pull-left">Asignaciones</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
            <div class="panel-footer" style="word-wrap:break-word;">
              <p>Asigne un piloto a un bus y establezca el horario y la fecha en la que estará en ruta.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->
</div>
