<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Modificar piloto</h3>
</div>
<div class="modal-body" id="modal-body">
	<label>Nombre</label>
	<input class="form-control" type="text" ng-model="piloto.nombre" placeholder="Nombre del piloto" autofocus></br>
	<label>Apellidos</label><input class="form-control" type="text" ng-model="piloto.apellidos" placeholder="Apellidos del piloto"></br>
	<label>Dirección</label><input class="form-control" type="text" ng-model="piloto.direccion" placeholder="Dirección del piloto"></br>
	<label>No. Licencia</label><input class="form-control" type="number" ng-model="piloto.nLicencia" placeholder="No. de Licencia del piloto"></br>
	<label for="licenciaList">Tipo de Licencia</label>
	<select class="form-control" id="licenciaList" ng-model="piloto.tLicencia">
		<option>A</option>
	    <option>B</option>
	    <option>C</option>
	    <option>D</option>
	    <option>E</option>
	</select></br>
	<label>Teléfono</label><input class="form-control" type="number" ng-model="piloto.telefono" placeholder="Teléfono del piloto"></br>
	<label>Correo Electrónico</label><input class="form-control" type="text" ng-model="piloto.correo" placeholder="Correo electrónico del piloto">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modificar()">Modificar</button>
    <button class="btn btn-warning" type="button" ng-click="cancelar()">Cancelar</button>
</div>