<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Modificar bus</h3>
</div>
<div class="modal-body" id="modal-body">
	<label>Marca</label><input class="form-control" type="text" ng-model="bus.marca" placeholder="Marca del bus" autofocus>
	<label>Modelo</label><input class="form-control" type="text" ng-model="bus.modelo" placeholder="Modelo del bus">
	<label>Placa</label><input class="form-control" type="text" ng-model="bus.placa" placeholder="Placa del bus">
	<label>No. bus</label><input class="form-control" type="text" ng-model="bus.numero" placeholder="No. del bus">
	<label>Color</label><input class="form-control" type="text" ng-model="bus.color" placeholder="Color del bus">
	<label>Observaciones</label><textarea class="form-control" rows="5" ng-model="bus.observaciones" placeholder="Observaciones..."></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modificar()">Modificar</button>
    <button class="btn btn-warning" type="button" ng-click="cancelar()">Cancelar</button>
</div>