<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{options.title}}</h4>
</div>
<form name="pilotoForm" class="form" novalidate>
<div class="modal-body">
	<label>Nombre</label>
	<input type="text" class="form-control" name = "nombre" id="nombre" placeholder="Nombre de la persona de cultura" ng-model="nombre" required autofocus>
	<div ng-messages="pilotoForm.nombre.$error" role="alert" class="text-danger">
  		<div ng-message="required">Campo requerido</div>
	</div><br>
	<label>Apellidos</label>
	<input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="Apellidos de la persona de cultura" ng-model="apellidos" required >
	<div ng-messages="pilotoForm.apellidos.$error" role="alert" class="text-danger">
  		<div ng-message="required">Campo requerido</div>
	</div><br>
	<label>Dirección</label>
	<input type="text" class="form-control" id="direccion" placeholder="de la persona de cultura" ng-model="direccion" ><br>
	<label>DPI</label>
	<input type="number" class="form-control" name="dpi" id="dpi" placeholder="de la persona de cultura" ng-model="dpi" required min="1000000000000" max="9999999999999" >
	<div ng-messages="pilotoForm.dpi.$error" role="alert" class="text-danger">
  		<div ng-message="required">Campo requerido</div>
     	<div ng-message="min || max">DPI inválido (debe tener 13 dígitos)</div>
	</div><br>

  <!-- <select class="form-control" name= "user" id="user" ng-model="user" required>
    <option value="" disabled>Usuarios</option>
    <option ng-repeat="x in usuarios" value="{{x.id}}">{{x.username}}</option>
  </select>
  <div ng-messages="busForm.user.$error" role="alert" class="text-danger">
      <div ng-message="required">Campo requerido</div>
  </div><br> -->


	<!-- <label>Empresa</label>
	<input type="text" class="form-control" name="empresa" id="empresa" placeholder="Empresa del dueño" ng-model="empresa" required >
	<div ng-messages="pilotoForm.licencia.$error" role="alert" class="text-danger">
  		<div ng-message="required">Campo requerido</div>
	</div><br> -->
	<!-- <label for="tipolicencia">Tipo de Licencia</label>
  	<select class="form-control" name="tipolicencia" id="tipolicencia" ng-model="tipolicencia" required>
	    <option value="" disabled>Tipo de Licencia del dueño</option>
	    <option value="A">A</option>
	    <option value="B">B</option>
	    <option value="C">C</option>
	    <option value="D">D</option>
	    <option value="E">E</option>
	</select>
	<div ng-messages="pilotoForm.tipolicencia.$error" role="alert" class="text-danger">
  		<div ng-message="required">Campo requerido</div>
	</div><br> -->
	<label>No. de Teléfono</label>
	<input type="number" class="form-control" name="telefono" id="telefono" placeholder="No. de la persona de cultura" ng-model="telefono" min="10000000" max="99999999" >
	<div ng-messages="pilotoForm.telefono.$error" role="alert" class="text-danger">
     	<div ng-message="min || max">No. de teléfono inválido (debe tener 8 dígitos)</div>
	</div><br>
	<label>Correo Electrónico</label>
	<input type="email" class="form-control" name="correo" id="correo" placeholder="Correo electrónico de la persona de cultura" ng-model="correo" >
	<div ng-messages="pilotoForm.correo.$error" role="alert" class="text-danger">
     	<div ng-message="email">Correo electrónico inválido</div>
	</div><br>
	<label for="grupos">Usuarios de cultura</label>
	<select class="form-control" name= "grupo" id="grupo" ng-model="grupo" required>
    <option value="" disabled>Seleccione un usuario de cultura</option>
    <option ng-repeat="x in grupos" value="{{x.id}}">{{x.username}}</option>
  </select>
	<div ng-messages="pilotoForm.grupo.$error" role="alert" class="text-danger">
  		<div ng-message="required">Campo requerido</div>
	</div><br>
	<label>Estado</label>
	<div class="btn-group">
        <label class="btn btn-primary" ng-model="estado" uib-btn-radio="'1'" ng-disabled="pilotoForm.$invalid">Habilitado</label>
        <label class="btn btn-primary" ng-model="estado" uib-btn-radio="'0'" ng-disabled="pilotoForm.$invalid">Deshabilitado</label>
  </div>

</div>
<div class="modal-footer">
    <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal" ng-disabled="pilotoForm.$invalid">{{options.buttom}}</button>
    <button type="button" ng-click="cancel()" class="btn btn-warning">Cancelar</button>
</div>
</form>
