<link href='http://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<link rel="stylesheet" href="styles/main.css">
<header class="main_h">
    <div class="row">
        <a class="logo" href="/#/">Inicio</a>
        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href=".sec01">¿Quienes somos?</a></li>
                <li><a href=".sec02">Descargar</a></li>
                <li><button class="btn" ng-click="iniciarSesion('sm')">INICIAR SESIÓN</button></li>
            </ul>
        </nav>

    </div> <!-- / row -->
</header>

<div class="hero">

    <h1><span>TransXela</span><!-- <br>TransXela --></h1>

    <div class="mouse">
        <span></span>
    </div>

</div>

<div class="row content">
    <h1 class="sec01">¿Quienes somos?</h1>
    <li>
      <p style="word-wrap:break-word;">Somos un grupo de estudiantes de Ingeniería en Informática y Sistemas de la Universidad Rafael Landívar Campus de Quetzaltenango con el propósito de facilitar el control y la gestión de las actividades y procesos que conlleva la administración del transporte público en Quetzaltenango para miembros del Departamento de Policía Municipal de Tránsito, Departamento de Cultura y de la Asociación de Transportistas.</p>
    </li>
    <br>
    <h1 class="sec02">Descargar</h1>
    <li>
      <p style="word-wrap:break-word;">Descarga desde Google Play la aplicación <strong>TransXela</strong> para mejorar Xela junto a nosotros:</p>
    </li>
    <br>
    <br>
    <a class="centro" href="https://play.google.com/store?hl=es">
      <div class="download android" >
        <i class="fa fa fa-android fa-3x"></i>
        <span class="df">Descarga desde</span>
        <span class="dfn">Google Play</span>
      </div>
    </a>
</div>
<footer>
    <div class="container text-center">
        <p>Copyright &copy; TransXela 2016</p>
    </div>
</footer>

<script src="scripts/controllers/main.js"></script>
