
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Denuncias por Rutas</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/pmt/principal">Principal</a></li>
          <li class="breadcrumb-item"><a href="#/operador/denuncias">Denuncias</a></li>
        <li class="breadcrumb-item active">Rutas</li>
      </ol>
    </div>
    <!-- /.col-lg-12 -->
  </div>
    <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <!-- <button class="btn btn-primary" href ng-click="showCrear()"><i class="fa fa-pencil"></i> Crear horario</button> -->
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div ng-repeat = "alerta in alertas" class="alert alert-{{alerta.tipo}} alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
            ng-click="alertas.splice(alertas.indexOf(alerta),1)"><span aria-hidden="true">&times;</span></button>{{alerta.mensaje}}
          </div>
          <div id="grid1" ui-grid="gridOptions" class="grid"></div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</div>
