<nav class="main-menu" >
  <ul>
    <li>
        <a href="#/operador/perfil">
            <i class="fa fa-user fa-2x"></i>
            <span class="nav-text">
              Perfil
            </span>
        </a>

    </li>
    <li class="has-subnav">
        <a href="#/operador/denunciasRuta">
           <i class="fa fa-flag fa-2x"></i>
            <span class="nav-text">
              Denuncias
            </span>
        </a>
    </li>
    <li class="has-subnav">
        <a href="#/operador/duenios">
            <i class="fa fa-users fa-2x"></i>
            <span class="nav-text">
              Dueños
            </span>
        </a>

    </li>
    <li class="has-subnav">
        <a href="#/operador/estadisticas">
          <i class="fa fa-info fa-2x"></i>
          <span class="nav-text">
            Estadísticas
          </span>
        </a>
    </li>
  </ul>
  <ul class="logout">
    <li>
       <a href="/#/">
         <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
            Cerrar sesión
        </span>
        </a>
    </li>
  </ul>
</nav>
<div class="main-head" id="centerhead">
    <img src="images/yeoman.png">
    {{usuario.nombre + " " +usuario.apellidos}}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/duenio/principal">Principal</a></li>
      <li class="breadcrumb-item active">...</li>
    </ol>
</div>
<br>
<div  id="centerbody">

</div>